:root {
    --color-carbon: #191919;
    --color-negro: #212529;
    --color-gris: #6c757d;
    --color-blanco: #d9d5bb;
    --color-rojo: #ff4655;
}

/* COMPUTADORAS */

@media (max-width: 1250px) {

    /* HEADER */

    .navbar-list {
        position: absolute;
        top: 96px;
        left: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0 50px 0;
        margin-left: 0px;
        background: rgba(25,25,25,0.95);
        border: 3px solid var(--color-rojo);
        border-top: 0px;
        border-bottom-right-radius: 150px;
        border-bottom-left-radius: 150px;
    }
    .busqueda {
        display: none;
    }
    .fa-bars {
        display: block;
        position: absolute;
        right: 50px;
        top: 25px;
        cursor: pointer;
    }
    #toggle-menu:checked ~ .navbar-list {
        display: flex;
    }
}

/* TABLETS */

@media (max-width: 950px) {

    /* PRESENTACION */

    #presentacion p {
        width: 95%;
        font-size: 18px;
        font-weight: 600;
        margin-left: 2.5%;
        letter-spacing: 1.5px;
        line-height: 35px;
    }

    /* CONTACTO */

    .form {
        min-width: 600px;
        max-width: 600px;
        transition: all 2s;
    }
    .texto {
        width: 250px;
        height: 60px;
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 40px;
        padding: 0 15px;
    }
    .form label {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .form textarea {
        padding: 15px 15px;
        width: 530px;
        height: 200px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 28px;
    }
    .video-contacto {
        min-width: 600px;
        max-width: 600px;
        transition: all 2s;
    }

    /* VENTAJAS */

    .ventajas-cartas {
        width: 500px;
        height: 650px;
        margin-top: 20px;
        padding: 50px 30px 50px 30px;
    }
    .ventajas-cartas .fa-headphones{
        width: 150px;
        height: 150px;
        font-size: 85px;
        margin: 20px 0 20px 0;
        padding: 25px 25px 25px 25px;
    }
    .ventajas-cartas .fa-eye {
        width: 150px;
        height: 150px;
        font-size: 85px;
        margin: 20px 0 20px 0;
        padding: 25px 20px 25px 20px;
    }
}

/* CELULAR HORIZONTAL */

@media (max-width: 720px) {
    
    /* INICIO */

    .nombre-artista {
        left: 50%;
        transform: translate(-50%, -0%);
        width: 450px;
        height: 250px;
        transition: all 2s;
    }
    .nombre-artista h2 {
        font-size: 20px;
        padding-top: 30px;
    }
    .nombre-artista p {
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
        letter-spacing: 2px;
        line-height: 30px;
    }
    .boton-artista {
        width: 250px;
        height: 50px;
        font-size: 15px;
        margin-left: 100px;
    }

    /* SETS */

    #sets h2 {
        font-size: 40px;
    }
    #sets p {
        font-size: 18px;
        padding: 0 15px 0 15px;
    }
    .sets-techno h3 {
        font-size: 35px;
    }
    .sets-house h3 {
        font-size: 35px;
    }
    .fa-play {
        margin-top: 100px;
        margin-left: 200px;
    }
    .imagen {
        width: 450px;
        height: 250px;
        border: 2px solid var(--color-blanco);
        cursor: pointer;
        box-shadow: 0px 0px 20px 3px rgba(255,70,85,1);
        transition: 0.6s;
    }

    /* PRESENTACION */

    #presentacion h2 {
        font-size: 40px;
    }
    #presentacion p {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        margin-left: 0;
        letter-spacing: 1px;
        line-height: 30px;
    }

    /* CONTACTO */

    #contacto h2 {
        font-size: 40px;
    }
    #contacto p {
        font-size: 18px;
        padding: 20px 15px 0 15px;
    }
    .form {
        min-width: 450px;
        max-width: 450px;
        transition: all 2s;
    }
    .texto {
        font-size: 18px;
        width: 350px;
        height: 50px;
        margin-top: 30px;
    }
    .form label {
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .form textarea {
        font-size: 18px;
        width: 350px;
        height: 160px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 28px;
    }
    .boton-contacto {
        width: 250px;
        height: 50px;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .video-contacto {
        min-width: 450px;
        max-width: 450px;
        transition: all 2s;
    }

    /* VENTAJAS */

    #ventajas h2 {
        font-size: 40px;
    }
    .ventajas-cartas {
        width: 350px;
        height: 500px;
        margin-top: 20px;
        padding: 50px 15px 50px 15px;
    }
    .ventajas-cartas .fa-headphones{
        width: 100px;
        height: 100px;
        font-size: 50px;
        margin: 0 0 0 0;
        padding: 20px 21px 20px 21px;
    }
    .ventajas-cartas .fa-eye {
        width: 100px;
        height: 100px;
        font-size: 50px;
        margin: 0 0 0 0;
        padding: 20px 18px 20px 18px;
    }
    .ventajas-cartas h3 {
        font-size: 22px;
        font-weight: 800;
        margin: 20px 0 20px 0;
    }
    .ventajas-cartas p {
        font-size: 16px;
        letter-spacing: 3px;
        word-spacing: 0px;
        line-height: 35px;
    }
}

/* CELULAR VERTICAL */

@media (max-width: 550px) { /* PONER VIDEO COMO IMAGEN */

    /* INICIO */

    #inicio {
        height: 700px;
    }
    .video {
        display: none;
    }
    .imagen-fondo {
        display: flex;
    }
    .nombre-artista {
        left: 50%;
        transform: translate(-50%, -0%);
        width: 300px;
        height: 200px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        transition: all 2s;
    }
    .nombre-artista h2 {
        font-size: 16px;
        padding-top: 18px;
        letter-spacing: 3px;
        color: var(--color-rojo);
        -webkit-text-stroke: 0px var(--color-rojo);
    }
    .nombre-artista p {
        font-size: 14px;
        font-weight: 600;
        margin-left: 25px;
        margin-right: 25px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .boton-artista {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 50px;
    }

    /* SETS */

    #sets h2 {
        font-size: 25px;
        color: var(--color-rojo);
        -webkit-text-stroke: 0px var(--color-rojo);
    }
    #sets p {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .sets-techno h3 {
        font-size: 25px;
        -webkit-text-stroke: 0px var(--color-rojo);
    }
    .sets-house h3 {
        font-size: 25px;
        -webkit-text-stroke: 0px var(--color-rojo);
    }
    .fa-play {
        margin-top: 60px;
        margin-left: 130px;
    }
    .imagen {
        width: 300px;
        height: 180px;
        border: 2px solid var(--color-blanco);
        cursor: pointer;
        box-shadow: 0px 0px 20px 3px rgba(255,70,85,1);
        transition: 0.6s;
    }

    /* PRESENTACION */

    #presentacion h2 {
        font-size: 25px;
        color: var(--color-rojo);
        -webkit-text-stroke: 0px var(--color-rojo);
    }
    #presentacion p {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        margin-left: 0;
        letter-spacing: 1px;
        line-height: 25px;
    }

    /* CONTACTO */

    #contacto h2 {
        font-size: 25px;
        color: var(--color-rojo);
        -webkit-text-stroke: 0px var(--color-rojo);
    }
    #contacto p {
        font-size: 14px;
        letter-spacing: 1px;
        padding: 20px 5px 0 5px;
    }
    .form {
        min-width: 350px;
        max-width: 350px;
        transition: all 2s;
    }
    .texto {
        font-size: 14px;
        width: 250px;
        height: 40px;
        margin-top: 30px;
        border-radius: 15px;
    }
    .form label {
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 20px;
        padding: 0 50px;
    }
    .form textarea {
        font-size: 14px;
        width: 250px;
        height: 120px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .boton-contacto {
        width: 200px;
        height: 50px;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .video-contacto {
        min-width: 350px;
        max-width: 350px;
        transition: all 2s;
    }

    /* VENTAJAS */

    #ventajas h2 {
        font-size: 25px;
        color: var(--color-rojo);
        -webkit-text-stroke: 0px var(--color-rojo);
    }
    .ventajas-cartas {
        width: 280px;
        height: 450px;
        padding: 25px 10px 25px 10px;
    }
    .ventajas-cartas .fa-headphones{
        width: 80px;
        height: 80px;
        font-size: 40px;
        margin: 0 0 0 0;
        padding: 15px 15px 15px 15px;
    }
    .ventajas-cartas .fa-eye {
        width: 80px;
        height: 80px;
        font-size: 40px;
        margin: 0 0 0 0;
        padding: 15px 12px 15px 12px;
    }
    .ventajas-cartas h3 {
        font-size: 18px;
        font-weight: 800;
        margin: 15px 0 15px 0;
        -webkit-text-stroke: 0px var(--color-rojo);
    }
    .ventajas-cartas p {
        font-size: 14px;
        letter-spacing: 1px;
        word-spacing: 0px;
        line-height: 35px;
    }

    /* FOOTER */

    .fa-brands {
        font-size: 20px;
        margin: 15px;
        padding-top: 14px;
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }
    .copyright {
        font-size: 18px;
        letter-spacing: 5px;
        margin: 10px;
    }
}